/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575 */
/* header #000000 */
/* footer rgba(255,255,255,0.6) */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */

@import './utils/variables';
@import './base/common';

@import './components/buttons';
@import './components/logo';

/* MODAL */
.backdrop {
  position: fixed;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timing-function;
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: $primary-white-color;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;
}
.modal-form__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $primary-white-color;
  cursor: pointer;
  outline: none;
}
.form-close-svg {
  display: block;
  align-items: center;
  width: 18px;
  height: 18px;
  transition: fill 250ms $timing-function;
}
.modal-form__close:hover .form-close-svg,
.modal-form__close:focus .form-close-svg {
  fill: $accent-color;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form h4 {
  display: block;
  text-align: center;
  padding-bottom: 12px;
  margin: 0 auto;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.form-label {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-label p {
  margin: 0;
  margin-bottom: 4px;
}
.form-input-wrap {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}
.form-input-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  width: 18px;
  height: 18px;
  transition: fill 250ms $timing-function;
}
.form-label input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms $timing-function;
  cursor: pointer;
}
.form-label input:focus,
.form-label textarea:focus {
  outline: none;
  border: 1px solid $accent-color;
}
.form-label input:focus + .form-input-svg {
  fill: $accent-color;
}
.form-label textarea {
  height: 120px;
  margin: 0;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms $timing-function;
  cursor: pointer;
}

.label-agreement {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.label-agreement::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  margin-right: 7px;
  margin-left: 12px;
  border-radius: 2px;
}
.modal-checkbox:checked + .label-agreement::before {
  border: none;
  background-origin: border-box;
  background-color: $accent-color;
  background-image: url('../images/icon-check.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* /MODAL */

/* HEADER */
.header {
  border-bottom: 1px solid $header-border-color;
}
.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header .navig {
  display: flex;
  align-items: center;
}
.header .navig-menu {
  display: flex;
  align-items: center;
}
.header .navig-menu a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .navig-menu li:not(:last-child) {
  margin-right: 40px;
}
.header .navig-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .navig-address li:not(:last-child) {
  margin-right: 50px;
}

/* Logo */

/* navigation */
.navig .logo {
  margin-right: 93px;
}

.navigation a {
  position: relative;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $title-text-color;
  background-color: $primary-white-color;
  text-decoration: none;

  transition: color 250ms $timing-function;
}
.navigation a::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  opacity: 0;

  transition: opacity 250ms $timing-function;
}

.studio a,
.portfolio a {
  color: $accent-color;
}
.studio a::after,
.portfolio a::after {
  opacity: 1;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: $accent-color;
}

.address-header a {
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  background-color: $primary-white-color;
  text-decoration: none;
  transition: color 250ms $timing-function;
}
.address-header:hover a,
.address-header:focus a {
  color: $accent-color;
}
.navig-address .address-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navig-address .address-mail {
  fill: $primary-text-color;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.navig-address .address-phone {
  fill: $primary-text-color;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.address-link:hover {
  color: $accent-color;
}
.address-link:hover .address-mail,
.address-link:hover .address-phone {
  fill: $accent-color;
}

/* FOOTER */
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $title-bcg-color;
}
.footer-container .container {
  display: flex;
  align-items: baseline;
}
.footer-container .foot-main {
  margin-right: 70px;
}
.footer-container .join {
  display: block;
  margin: 0;
}
.join h3 {
  margin: 0 auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}
.join li:not(:last-child) {
  margin-right: 10px;
}
.footer-container p {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-container .foot-main li:not(:last-child) {
  margin-bottom: 9px;
}
.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
.address-footer a {
  color: $footer-text-links;
  text-decoration: none;
  transition: color 250ms $timing-function;
}

.address-footer:hover a,
.address-footer:focus a {
  color: $accent-color;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.foot-icons {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;

  justify-content: space-between;
}
.foot-icons .foot-link {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms $timing-function;
}
.foot-icons .foot-svg {
  fill: $primary-white-color;
  width: 20px;
  height: 20px;
}
.foot-link:hover {
  background-color: $accent-color;
}
.foot-link:hover .foot-svg {
  fill: $primary-white-color;
}

.footer-form {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 93px;
  height: 100%;
  align-items: flex-start;
}
.footer-form .form-label {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.footer-form .form-label p {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}
.footer-form .form-label input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  background-color: unset;
  color: $logo-primary-header;
  transition: background-color 250ms $timing-function;
}
.footer-form .form-label placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form .form-label input:not(:placeholder-shown) {
  background-color: $primary-white-color;
}
.distribution-submit {
  position: absolute;
  bottom: 0;
  right: -212px;
  display: inline-flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  cursor: pointer;
}
.footer-form > .distribution-submit {
  align-self: flex-start;
}
.footer-btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* /FOOTER */

/* HERO */
.hero-container {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  text-align: center;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/HERO.jpg);
  background-color: $hero-alt-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.hero-slogan {
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  text-transform: uppercase;
}
.hero-button {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
}
/* /HERO */

/* ADVANTAGES */
.advantages {
  padding-top: 94px;
}
.advantages ul {
  display: flex;
}
.advantages .container li {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages .container li:not(:last-child) {
  margin-right: 30px;
}
.advantage-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $primary-bcg-color;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages svg {
  width: 70px;
  height: 70px;
}
.advantages h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $title-text-color;
  text-transform: uppercase;
}
.advantages p {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

/* ABOUT */
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about img {
  display: block;
}
.about .h2-web {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
}
.about .container .list-no-style {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.about .container .list-no-style li {
  flex-basis: calc((100% - 60px) / 3);
}
.about .container .list-no-style li:not(:last-child) {
  margin-right: 30px;
}
.about li {
  position: relative;
}
.about-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  background-color: $about-bg-color;
}
/* /ABOUT */

/* TEAM */
.team-container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $primary-bcg-color;
  flex-direction: column;
}
.team-container .h2-web {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: $primary-bcg-color;
  text-align: center;
}
.team-container .names {
  display: flex;
  justify-content: center;
}
.team-container .names-div {
  width: 270px;
  background-color: $primary-white-color;
}
.team-container .names-div {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-container .names-div:not(:last-child) {
  margin-right: 30px;
}
.names h3 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 3%;
  color: $title-text-color;
}
.names p {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.team-container .profession {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-icons {
  margin: 0 auto;
  margin-top: 16px;
  display: flex;

  justify-content: space-between;
}
.team-icons .team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms $timing-function;
}
.team-icons .team-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;

  transition: fill 250ms $timing-function;
}
.team-link:hover {
  background-color: $accent-color;
}
.team-link:hover .team-svg {
  fill: $primary-white-color;
}

/* CLIENTS */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .list-no-style {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.clients .h2-web {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.clients .container li {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid $clients-link-color;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms $timing-function;
}

.clients .list-no-style li:not(:last-child) {
  margin-right: 30px;
}
.clients .clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients .clients-svg {
  fill: $clients-link-color;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  transition: fill 250ms $timing-function;
}
.clients .container li:hover {
  border-color: $accent-color;
}
.clients .container li:hover .clients-svg {
  fill: $accent-color;
}
/* /CLIENTS */

/* FILTER */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background-color: $primary-bcg-color;
  cursor: pointer;

  transition: color 250ms $timing-function,
    background-color 250ms $timing-function, box-shadow 250ms $timing-function;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* WORKS */
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.works-example {
  width: 370px;
  padding: 20px 24px;
  border-right: 1px solid $projects-border-color;
  border-left: 1px solid $projects-border-color;
  border-bottom: 1px solid $projects-border-color;
}
.works .container ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .filter {
  padding-bottom: 0;
  margin-bottom: 50px;
}
.works .filter li:not(:last-child) {
  margin-right: 8px;
}
.works .filter-button {
  display: block;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  height: 38px;
}
.works .projects {
  display: flex;
  flex-wrap: wrap;
}
.works .projects li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms $timing-function;
}
.works .projects li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works .projects li:nth-child(3n) {
  margin-right: 0;
}
.works .projects li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.works .projects img {
  display: block;
  margin: 0;
  padding: 0 auto;
}
.works .projects h3 {
  margin: 0;
  margin-bottom: 4px;
}
.works .projects p {
  display: block;
  margin: 0;
}
.works h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}
.works-example p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.projects-thumb {
  position: relative;
  overflow: hidden;
}
.projects-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms $timing-function;
}
.projects li:hover .projects-overlay {
  transform: translateY(0);
}
.overlay-text {
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
